@import url(./normalize.css);

.page {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 280px;
}

.container {
  padding: 0;
  width: 1280px;
  margin: 0 auto;
}

.table {
  table-layout: auto;
}

.column__fixed {
  position: sticky;
  position: -webkit-sticky;
  left: 0px;
}

.column__fixed_user {
  position: sticky;
  position: -webkit-sticky;
  left: 0px;
  width: 150px;
}

.column__fixed_last {
  position: sticky;
	position: -webkit-sticky;
  right: 0px;
}

.column__numbers {
  resize: horizontal;
  padding: 0;
}

.input {
  border: none;
  border-bottom: solid 1px #1E90FF;
  padding: 0;
  margin: 10px 0 10px;
  padding-bottom: 5px;
}

.button {
  border: none;
  margin-right: 30px;
  color: #1E90FF;
  cursor: pointer;
  padding: 0;
}